/obj/
/test/output/
node_modules/
target/
/lib/
/crates/wasmtime-test
/test.js
/shared
example/package-lock.json
example/hello.component.wasm
/build-debug
/build-release
.vscode# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
mono
